:root{
    --green:#27ae60;
    --dark-color:#219150;
    --black:rgb(0, 0, 0);
    --light-color:#666;
    --border:.1rem solid rgba(255, 255, 255);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}


img{
    max-width: 100%;
}

.product-card{
    margin:1rem 0;
    position: relative;
    overflow: hidden;
    border:var(--border);
    text-align: center;
}

.product-card:hover{
    border:var(--border-hover);
}
.product-card .image{
    padding:1rem;
    /* background: linear-gradient(15deg, rgb(238, 238, 238, 0.5) 30%, rgb(255, 255, 255,0.8) 30.1%); */
    background: transparent;
}

/* CAN TRANSFORM CHANGE PHOTO */
/* .product-card:hover .image{
    transform: translateY(6rem);
} */

.product-card .image img{
    height: 25rem;
}
.product-card .icons{
    border-bottom: var(--border-hover);
    position: absolute;
    top:0; left:0; right: 0;
    /* background: #fff; */
    z-index: 5;
    transform: translateY(-105%);
    
}

.product-card:hover .icons{
    transform: translateY(100%);
}

.product-card .icons a{
    color:var(--black);
    /* margin-top: 500px; */
    font-size: 2rem;
    padding:5rem 1.5rem;
}

.product-card .content{
    /* background:#eee; */
    padding: 1px;
}

.product-card .content h3{
    font-size: 2rem;
    color:var(--black);
}

.product-card .content .price{
    font-size: 1rem;
    color:var(--black);
    padding-top: none;
}


