
<header>
        <!-- <a href="#" class = "logo"><i class="ri-home-smile-line"></i><span>Grey Space</span></a> -->
        <a routerLink=""><img src ="assets\img\grey-space-logo.png"></a>
    
    <!-- <ul class ="navbar">
        <li><a href="#" class = "active">Home</a></li>
        <li><a href="#">Bedspace</a></li>
        <li><a href="#">Living</a></li>
        <li><a href="#">Dining</a></li>
        <li><a href="#">About Us</a></li>
    </ul> -->
    <form action = "" class = "search-bar">
        <input type = "text" placeholder="What are you looking for?" name = "q">
        
        <button type = "submit"><i class="ri-search-line"></i></button>

    </form>


    <div class = "main">
        <div id = "search-button"><i class="ri-search-line"></i></div>
        <a routerLink= "user"><i class="ri-user-line"></i></a>
        <a href="#"><i matBadge="0" matBadgeColor="warn" class="ri-shopping-cart-line"></i></a>
        <div class = "bx bx-menu" id = "menu-icon"></div>
    </div>
</header>

