<div class = "filter-tab">
    
    <div class = "shop-by-category">
        <ul>
            <li><h2 class = "filter-title">Filter:</h2></li>
            <li><a href="#">Shop By Category<i class="ri-arrow-drop-down-fill"></i></a>
                <ul class = "dropdown">
                    <!-- TO CHANGE WITH ANGULAR MATERIAL -->
                    <li>Bedspace</li>
                    <li>Dining</li>
                    <li>Living</li>

                </ul>
            </li>
            <li><a href="#">Price Range<i class="ri-arrow-drop-down-fill"></i></a></li>
            <li><a href="#">Product Type<i class="ri-arrow-drop-down-fill"></i></a></li>
        </ul>

    </div>
</div>
