<footer class = "footer-distributed">
    <div class = "footer-left">
        <h3>Shop</h3>

        <p class = "footer-links">
            <a href = "#">Home| </a>
            <a href = "#">About Us |</a>
            <a href = "#">FAQs</a>
        </p>

        <p class = "footer-company-name">Copyright © 2023 <strong>GreySpace</strong>
        All rights reserved</p>

    </div>

    <div class = "footer-center">
        <div>
            <i class="ri-map-pin-line"></i>
            <p><span>Metro Manila, Philippines</span></p>
        </div>
        <div>
            <i class="ri-phone-line"></i>
            <p>(8) 123-4567</p>    
        </div>
        <div>
            <i class="ri-mail-line"></i>
            <p><a href = "#">greyspace@gmail.com</a></p>
        </div>
    </div>

    <div class = "footer-right">
        <p class = "footer-company-about">
            <span>About the Shop</span>
            <strong> Grey Space</strong> believes in simplicity
        </p>
        <div class = "footer-icons">
            <a href="#"><i class="ri-facebook-circle-fill"></i></a>
            <a href="#"><i class="ri-instagram-fill"></i></a>
            <a href="#"><i class="ri-twitter-fill"></i></a>

        </div>
    </div>
 </footer>   

